<a href="https://colab.research.google.com/github/a-forty-two/COG-02082021/blob/main/COG_DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!ls

data.csv  sample_data

In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('data.csv')
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [4]:
df = data.iloc[:, [1,2,5,6,9]]
df.head()

  diagnosis  radius_mean  area_mean  smoothness_mean  concave points_mean
0         M        17.99     1001.0          0.11840              0.14710
1         M        20.57     1326.0          0.08474              0.07017
2         M        19.69     1203.0          0.10960              0.12790
3         M        11.42      386.1          0.14250              0.10520
4         M        20.29     1297.0          0.10030              0.10430

In [7]:


y= df.pop('diagnosis')
x = df

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y , test_size=0.2, random_state=42)
# Decision Tree: y=f(x)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dtree = DecisionTreeClassifier(max_depth=5)
dtree_light = DecisionTreeClassifier(max_depth=3)
dtree_deep = DecisionTreeClassifier(max_depth=10)