<a href="https://colab.research.google.com/github/a-forty-two/COG-02082021/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read_csv("/content/data.csv")
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [4]:
filter = ["id","diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean","smoothness_mean","compactness_mean"]

filtrdData = data[filter]

head = filtrdData.head()

In [9]:
filtrdData.sort_index(axis=1,ascending=False)

     texture_mean  smoothness_mean  ...  compactness_mean  area_mean
0           10.38          0.11840  ...           0.27760     1001.0
1           17.77          0.08474  ...           0.07864     1326.0
2           21.25          0.10960  ...           0.15990     1203.0
3           20.38          0.14250  ...           0.28390      386.1
4           14.34          0.10030  ...           0.13280     1297.0
..            ...              ...  ...               ...        ...
564         22.39          0.11100  ...           0.11590     1479.0
565         28.25          0.09780  ...           0.10340     1261.0
566         28.08          0.08455  ...           0.10230      858.1
567         29.33          0.11780  ...           0.27700     1265.0
568         24.54          0.05263  ...           0.04362      181.0

[569 rows x 8 columns]

In [10]:
filtrdData.sort_index(axis=1,ascending=False).head()

   texture_mean  smoothness_mean  ...  compactness_mean  area_mean
0         10.38          0.11840  ...           0.27760     1001.0
1         17.77          0.08474  ...           0.07864     1326.0
2         21.25          0.10960  ...           0.15990     1203.0
3         20.38          0.14250  ...           0.28390      386.1
4         14.34          0.10030  ...           0.13280     1297.0

[5 rows x 8 columns]